%div{class: "col-md-2"}
  =link_to lr.login, lr.html_url
%div{class: "col-md-1"}
  =lr.id
%div{class: "col-md-1"}
  =lr.followers
%div{class: "col-md-1"}
  =lr.following
%div{class: "col-md-2"}
  =lr.created_at
%div{class: "col-md-1"}
  =lr.public_repos
%div{class: "col-md-1"}
  =lr.location
