%div{class: "col-md-2"}
  =lr.login
%div{class: "col-md-1"}
  =lr.id
%div{class: "col-md-5"}
  =link_to lr.html_url, lr.html_url
%div{class: "col-md-2"}
  =lr.created_at
%div{class: "col-md-1"}
  =lr.public_repos
%div{class: "col-md-1"}
  =lr.location
